<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | FormProject</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/toastr/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormProjectPresenter.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/parsley.css" asp-append-version="true" />
    @RenderSection("cssSection", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FormProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                    </ul>
                    <A id="logout" onclick="Logout()" class="btn btn-primary">Çıkış Yap</A>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <form id="form-inline" onsubmit="console.log('gittim')" hidden asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>

            @if (TempData.ContainsKey("CameFromPostState"))
            {
                string message = (string)TempData["CameFromPostMessage"];
                bool success = (bool)TempData["CameFromPostState"];
                <script>
                    var optionsToastr = {
                        message: '@message',
                        success: @success.ToString().ToLower()
                                                                                                                                                                };
                </script>
                TempData.Remove("CameFromPostState");
                TempData.Remove("CameFromPostMessage");
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FormProject - Yunus Emre Koşar
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/toastr/toastr.js" asp-append-version="true"></script>
    <script src="~/toastr/toastrNotifications.js" asp-append-version="true"></script>
    <script src="~/js/parsleyjs.js" asp-append-version="true"></script>
    @RenderSection("jsSection", required: false)

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
